/* 1em = 16px */
.container {
    position: relative;
    width: 20em;
    min-height: 1.5em;
    border: 0.05em solid #777;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    outline: none;
}

.container:focus {
    border-color: hsl(200, 100%, 50%);
}

.value {
    flex-grow: 1;
}

.closeBtn {
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #333;
}

.devider {
    background-color: #777;
    /* align-self other than stretch bcs we are using min-height in container, so .devider don't know what the height really is */
    align-self: stretch;
    width: 0.05em;
}

.caret {
    translate: 0 25%;
    border: 0.25em solid transparent;
    border-top-color: #777;
}

.options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: none; */

    max-height: 60em;
    overflow-y: auto;
    border: 0.05em solid #777;
    border-radius: 0.25em;
    width: 100%;
    left: 0;
    /* top 100% of parent container + extra space at between */
    top: calc(100% + 0.25em);
    background-color: white;
    z-index: 100;
}

.options.show {
    display: block;
}

.option {
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.option.highlighted {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.option.highlighted {
    background-color: hsl(200, 100%, 70%);
}
